.filter-title {
	background: $filter-bg;
	padding: 15px 20px;
	text-transform: uppercase;
	font-family: $font-sans;
	font-size: 0.750em;
	line-height: 1.125em;
	margin-bottom: 20px;
}

// фильтр товаров
.filter-form {}
.range-filter {
	width: 100%;
}
.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 10px;
	padding: 0 20px;
	background: $filter-bg;
	border-radius: 4px;
	overflow: hidden;
	.scale {
		margin-top: 39px;
		height: 2px;
		background: #d6dddf;
	}
	.bar {
		height: 2px;
		background: #00cb6f;
	}
	.toogle {
		width: 20px;
		height: 20px;
		border: 8px solid #fff;
		background: #ababab;
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: 0 2px 1px 0 #cfcfcf;
	}
	.max-toogle {
		left: 145px;
	}
}
.price-controls {
	@include cf;
	input {
		background: $filter-bg;
		border: none;
		text-align: center;
		width: 43.1818%;
		padding: 10px;
		font-family: $font-sans;
		font-size: 1.000em;
		line-height: 1.125em;
		border-radius: 4px;
	}
	.min-price {
		float: left;
		margin-right: 10px;
	}
	.max-price {
		float: right;
	}
	span {
		margin-top: 8px;
		display: inline-block;
	}
}
.block-form__wrapper {
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	&:last-child {
		border-bottom: none;
	}
}
.input--label__item {
	padding: 5px 0;
	input[type="checkbox"],
	input[type="radio"] {
		display: none;
	}
	input[type="checkbox"] + label,
	input[type="radio"] + label {
		font-family: $font-sans;
		text-transform: uppercase;
		font-size: 0.875em;
		line-height: 1.250em;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
	}
	input[type="checkbox"] + label:before,
	input[type="radio"] + label:before {
		content: '\2610';
		font-family: $font-icon;
		padding-right: 10px;
		color: #c2c2c2;
		font-size: 1.625em;
		display: inline-block;
		vertical-align: middle;
	}
	input[type="checkbox"]:checked + label:before {
		content: '\2611';
	}
	input[type="radio"] + label:before {
		content: '\25cb';
	}
	input[type="radio"]:checked + label:before {
		content: '\25cf';
	}
}
.block-filter__name {
	margin-bottom: 15px;
	span {
		font-size: 1em;
		font-family: $font-sans;
		text-transform: uppercase;
	}
}
.turn-off {
	color: #c5c5c5;
	float: right;
	font-size: 1.125em;
}