.footer-top {
	background: #25405d;
	color: $white-text;
	padding-bottom: 32px;
}
.footer-adress {
	.logo {
		padding-left: 15.9090%;
		padding-right: 15.9090%;
		font-size: 1.875em;
		line-height: 1.875em;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-bottom: 10px;
	}
	p {
		float: left;
		font-size: 1.125em;
		line-height: 1.500em;
		@media screen and (max-width: 810px) {
			float: none;
			text-align: center;
		}
	}
}
.foomenu-top {
	margin: 40px auto;
	@media screen and (max-width: 420px) {
		margin: 0;
	}
}
.foomenu-top__list,
.foomenu-bottom__list {
	display: table-row;
	@media screen and (max-width: 420px) {
		display: block;
		padding-left: 20px;
	}
}

.foomenu-top__item,
.foomenu-bottom__item {
	list-style: none;
	display: table-cell;
	width: auto;
	text-align: right;
	vertical-align: bottom;
	@media screen and (max-width: 810px) {
		text-align: center;
	}
	@media screen and (max-width: 420px) {
		display: block;
		text-align: left;
	}
}

.foomenu-top__link,
.foomenu-bottom__link {
	color: $white-text;
	font-size: 1.125em;
	line-height: 1.500em;
	text-decoration: none;
	display: table-cell;
	width: 1000px;
	vertical-align: baseline;
	&:hover {
		text-decoration: underline;
	}
	&:active {
		opacity: .5;
	}
	@media screen and (max-width: 420px) {
		display: inline-block;
		width: auto;
	}
}
.foomenu-bottom__link {
	color: #ffd180;
}
// Нижний футер
.footer-bottom {
	background: #1e3148;
	color: $white-text;
	font-size: 1em;
	line-height: 1.125em;
	@media screen and (max-width: 635px) {
		text-align: center;
	}
}
.footer-bottom__wrapper {
	padding-top: 35px;
	padding-bottom: 35px;
	@media screen and (max-width: 635px) {
		padding-top: 15px;
	}
}
.social-btn {
	margin-top: 10px;
}
.social-icon {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	background: #162638;
	border-radius: 50%;
	position: relative;
	&:hover {
		background: $logo-red;
	}
	a {
		position: absolute;
		color: $white-text;
		top: 13px;
		left: 8px;
		text-decoration: none;
	}
	i {
		font-family: $font-icon;
		font-size: 1.250em;
	}
}
.footer-bottom__link {
	color: #ffd180;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		color: $main-red;
		text-decoration: none;
	}
}