.tovar-box {
	margin-bottom: 60px;
}
.tovar-box__filter {
	@include cf;
	background: $filter-bg;
	padding: 15px 20px 13px 20px;
	text-transform: uppercase;
	font-family: $font-sans;
	font-size: 0.750em;
	line-height: 1.125em;
	margin-bottom: 20px;
}
.sort__title {
	float: left;
}
.sort__wrapper {
	float: right;
}
.sort-menu {
	padding: 0;
	margin: 0;
}
.sort-menu__item {
	float: left;
	list-style-type: none;
	margin-left: 60px;
	&:last-child,
	&:first-child {
		margin-left: 0;
	}
}
.sort-menu__link {
	text-decoration: none;
	color: rgba(0,0,0, .3);
	border-bottom: 1px dashed $logo-red;
	i {
		border-bottom: 1px solid $filter-bg;
		font-size: 1.250em;
		&:hover {
			border-bottom: 1px solid $logo-red;
		}
	}
	&:hover {
		color: $black;
		border-bottom: 1px solid $logo-red;
	}
}
.sort-menu__link--active {
	color: $main-red;
	border-bottom: none;
}

// Основные карточки товара 
.product-items {}
.product-item {
	border: 1px solid #e5e5e5;
	position: relative;
	font-weight: 700;
	text-align: center;
	line-height: 1.250em;
	.actions {
		display: none;
	}
	&:hover {
		.actions {
			display: block;
		}
	}
}

// Пагинация
.pagination {}
.pagination__list {
	padding: 0;
	margin: 0;
}
.pagination__item {
	list-style-type: none;
	float: left;
	font-family: $font-sans;
	font-size: 0.750em;
	line-height: 1.125em;
	text-transform: uppercase;
	margin-right: 10px;
}
.pagination__item--active {
	background: $logo-red;
	border: 1px solid $logo-red;
	color: $white-text;
	padding: 10px 15px;
	border-radius: 4px;
	font-weight: 700;
}
.pagination__link {
	text-decoration: none;
	color: $black;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	padding: 10px 15px;
	display: block;
	&:hover {
		border: 1px solid #bac7cb;
	}
	&:active {
		border: 1px solid #ff3342;
	}
}
