$font-main: 'Cuprum', sans-serif;
$font-sans: 'Open Sans', sans-serif;
$font-icon: 'symbols-technomart';

$white-text:        #fff;
$header-top:        #293449;
$header-blue:       #1e3148;
$logo-red:          #ff3342;
$header-green:      #26a730;
$main-header-bg:    #f1f6f8;
$black:             #000;
$top-color-ico:     #6a7180;
$top-bar-hover:     #212a3a;
$main-red:          #ee3643;
$main-red-hover:    #eb2834;
$main-red-active:   #d9222f;
$filter-bg:         #f9f3ec;


$w-materials:    #f6b22d;
$w-tool:         #4aafde;
$w-equipment:    #cc79d1;
$w-discounts:    #85d179;
$w-shiping:      $w-materials;

